<% layout("/layouts/boilerplate") %>

<body class="body home">
    <div class="row">
        <h2 style="margin-top: 10px;"> <i>Welcome to </i> <b>OPEN KITCHEN</b> </h2>
        <br>
        <br><br>
        <div >
            <ul>
                <h3> Turn your ingredients into something delicious.</h3>
                <br>
                <h3>No plans? No problem. Just open your kitchen.</h3> <br>
                <h3>You bring the ingredients, we bring the recipe.</h3> <br>
                <h3>From pantry to plate made simple.</h3><br>
                <h3>Cook what you have, love what you make.</h3><br>
            </ul>
        </div>
        <br>
        <br>
        <br>
        <div class="open">
           <h5>Got ingredients but confused what to cook?</h5> 
           
           <h5>Dont worry, we've the receipies... </h5> 
           
           <h5>Just mix match and cook </h5> 

        </div>
    </div>
</body>