<% layout("/layouts/boilerplate") %>

<body>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <h3>Suprise</h3>
    <div class="card" style="width: 18rem;">
        <img src="<%= randomRecipe.image %>" class="card-img-top" alt="img">
        <div class="card-body">
            <a href="/home/recipe/<%= randomRecipe._id %>"> <%= randomRecipe.title %></a>
        </div>
    </div>
    </div>
</body>